<ion-header>
  <ion-toolbar>
    <ion-title>
      Budget Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>New Expense</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Expense Reason</ion-label>
                <ion-input type="text" [(ngModel)]="enteredReason"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Expense Amount</ion-label>
                <ion-input type="number" [(ngModel)]="inputAmount"></ion-input>
              </ion-item>
              <ion-button (click)="resetForm()" fill="outline" color="danger" id="btn-cancel">
                <ion-icon slot="start" name="close"></ion-icon>
                Clear
              </ion-button>
              <ion-button (click)="addExpense()" id="btn-confirm">
                <ion-icon slot="start" name="add"></ion-icon>
                Add Expenses
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-list>
              <ion-item-sliding *ngFor="let expense of expensesList; let i = index">
                <ion-item>
                  <ion-label>{{expense}}</ion-label>
                </ion-item>
                <ion-item-options side="start">
                  <ion-item-option color="danger" (click)="removeItem(i)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>